<launch>

  <node name="left_gripper" pkg="senseglove_sy_gripper" type="gripper_server">
    <param name="location" type="str" value="left"/>
  </node>
  
  <node name="left_gripper" pkg="senseglove_sy_gripper" type="gripper_server">
    <param name="location" type="str" value="right"/>
  </node>

</launch>